In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv("data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [5]:
df

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust 칙?췇620 ..from retailer.I didn'...,1
...,...,...,...,...,...,...,...,...
8513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
8516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [6]:
df1=df[["Review text","Ratings"]]
print(df1.shape)

(8518, 2)

In [7]:
df1.head()

                                         Review text  Ratings
0  Nice product, good quality, but price is now r...        4
1  They didn't supplied Yonex Mavis 350. Outside ...        1
2  Worst product. Damaged shuttlecocks packed in ...        1
3  Quite O. K. , but nowadays  the quality of the...        3
4  Over pricedJust 칙?췇620 ..from retailer.I didn'...        1

In [8]:
df1.isnull().sum()

Review text    8
Ratings        0
dtype: int64

In [9]:
df1 = df1.dropna()

In [10]:
df1.isnull().sum()

Review text    0
Ratings        0
dtype: int64

In [11]:
df1.duplicated().sum()

np.int64(3269)

In [12]:
df1.drop_duplicates(inplace=True)

In [13]:

df1.shape

(5241, 2)

In [14]:
def suggest(ratings):
  if ratings >=3:
    return "Positive"
  else:
    return "Negative"

In [15]:
df1["type"] = df1["Ratings"].apply(suggest)

In [16]:
df1.head()

                                         Review text  Ratings      type
0  Nice product, good quality, but price is now r...        4  Positive
1  They didn't supplied Yonex Mavis 350. Outside ...        1  Negative
2  Worst product. Damaged shuttlecocks packed in ...        1  Negative
3  Quite O. K. , but nowadays  the quality of the...        3  Positive
4  Over pricedJust 칙?췇620 ..from retailer.I didn'...        1  Negative

In [17]:
df1.sample(20)

                                            Review text  Ratings      type
6877                                 thank youREAD MORE        5  Positive
2489             Good quality, value for moneyREAD MORE        5  Positive
6762                   Happy with this productREAD MORE        5  Positive
1827    WaoooooVery NiceReally I like it's 游녧游녧游녨READ MORE        5  Positive
8198              Good quality and she'll lifeREAD MORE        4  Positive
4117  Delivery done super fast but it's price keeps ...        3  Positive
996                       Quality was not goodREAD MORE        3  Positive
6382  The box almost lost its shape when it got deli...        3  Positive
6353                                it is goodREAD MORE        5  Positive
393                       Good product qualityREAD MORE        5  Positive
881   Good experience with original shuttles.. deliv...        5  Positive
2904                              Damaged itemREAD MORE        1  Negative
8505  Delivered before time but price is high from m...        3  Positive
2514                     Superb fresh article.READ MORE        5  Positive
3613  Really nice shuttles. Almost one and a half mo...        5  Positive
2060  Good delivery service and product also awesome...        4  Positive
1913                          Not good qualityREAD MORE        1  Negative
6510  Received packed was crushed at flat cap  due t...        1  Negative
1345       Long lasts than other nylon shuttleREAD MORE        5  Positive
426                                      Nice,READ MORE        5  Positive

In [31]:
pip install nltk

Collecting nltk
  Using cached nltk-3.9.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: click in c:\python311\lib\site-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in c:\python311\lib\site-packages (from nltk) (1.5.3)
Collecting regex>=2021.8.3 (from nltk)
  Using cached regex-2026.1.15-cp311-cp311-win_amd64.whl.metadata (41 kB)
Requirement already satisfied: tqdm in c:\python311\lib\site-packages (from nltk) (4.67.3)
Requirement already satisfied: colorama in c:\python311\lib\site-packages (from click->nltk) (0.4.6)
Using cached nltk-3.9.2-py3-none-any.whl (1.5 MB)
Using cached regex-2026.1.15-cp311-cp311-win_amd64.whl (277 kB)
Installing collected packages: regex, nltk
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] The system cannot find the file specified: 'c:\\Python311\\Scripts\\nltk.exe' -> 'c:\\Python311\\Scripts\\nltk.exe.deleteme'


[notice] A new release of pip is available: 24.0 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
import re
import nltk

nltk.download('punkt')
nltk.download('stopwords')
nltk.download("punkt_tab") # stopwords
nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")
from nltk.corpus import  stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [19]:
def clean(doc):
  #doc is a string of text
  # let's define a regex to match special chars and digits
  regex ="[^a-zA-Z.]"
  doc=re.sub(regex," ",doc)
  # Convert to lowercase
  doc=doc.lower()
  #Tokenization
  tokens=nltk.word_tokenize(doc)
  #Stop word Removal
  stop_words=set(stopwords.words('english'))
  filtere_tokens=[word for word in tokens if word not in stop_words]
  #Lemmatize
  lemmatizer=WordNetLemmatizer()
  lemmatized_tokens=[lemmatizer.lemmatize(word) for word in filtere_tokens]
  #join and return
  return " ".join(lemmatized_tokens)

In [33]:
df1["new_review"]=df1["Review text"].apply(lambda x:clean(x))

In [34]:
df1.drop(["Review text","Ratings"],axis=1,inplace=True)

In [23]:
df1.sample(20)

          type                                         new_review
5491  Positive                   average quality shuttle goodread
3981  Positive                          mavis massive shuttleread
2595  Positive                                   simply superread
4005  Positive  rightly priced ... good quality .. worth buy ....
2875  Positive  definitely original product got fooled localsread
7245  Positive                      right choice outdoor gameread
6302  Positive                                    bad productread
7084  Negative  nice wobbling fly perfect orginal one box qual...
4720  Positive                              good light wet heread
6726  Positive        always preferred choice one ... like itread
2962  Positive      original quick deliver . satisfactory buyread
5861  Positive                               original productread
4815  Positive                              shuttle good muchread
4855  Positive                                     good usualread
2858  Positive  got genuine product . even import stamp say de...
5563  Negative                                      much goodread
7176  Positive    great shuttle durable perfect balanced ... read
2163  Positive                                           coolread
7657  Positive  star flipkart delivery . order placed . pm shi...
8064  Positive                                vry gud productread

In [35]:
X=df1["new_review"]
y=df1["type"]
print(y.value_counts())

type
Positive    4292
Negative     949
Name: count, dtype: int64

In [36]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=42)

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer(ngram_range=(1,2),
    max_df=0.9,
    min_df=5,
    max_features=5000,
    stop_words="english",
    sublinear_tf=True)
X_train_trans=cv.fit_transform(X_train)
X_test_trans=cv.transform(X_test)

In [38]:

print(X_train_trans.shape)

(4192, 816)

In [28]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score

from sklearn.naive_bayes import ComplementNB

pipe = Pipeline(steps=[
      # Add a scaler to handle negative values
    ("model", ComplementNB())
])

para={"model__alpha":[1e-5,1e-4,1e-3,1e-2,1.01,1.0,10,11,12,13,14,16]
}
grid=GridSearchCV(estimator=pipe,param_grid=para,cv=5,scoring="f1_weighted",n_jobs=-1)
grid.fit(X_train_trans,y_train)
print(f"Best metrics : {grid.best_params_}")
print(f"cv accuracy : {grid.best_score_}")
print(f"Train : {f1_score(y_train, grid.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__alpha': 12}
cv accuracy : 0.8398170962889054
Train : 0.9042727408069079
Test : 0.8963051251489869

In [29]:
pip install nltk

Collecting nltk
  Using cached nltk-3.9.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: click in c:\python311\lib\site-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in c:\python311\lib\site-packages (from nltk) (1.5.3)
Collecting regex>=2021.8.3 (from nltk)
  Using cached regex-2026.1.15-cp311-cp311-win_amd64.whl.metadata (41 kB)
Collecting tqdm (from nltk)
  Using cached tqdm-4.67.3-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\python311\lib\site-packages (from click->nltk) (0.4.6)
Using cached nltk-3.9.2-py3-none-any.whl (1.5 MB)
Using cached regex-2026.1.15-cp311-cp311-win_amd64.whl (277 kB)
Using cached tqdm-4.67.3-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, nltk
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] The system cannot find the file specified: 'c:\\Python311\\Scripts\\tqdm.exe' -> 'c:\\Python311\\Scripts\\tqdm.exe.deleteme'


[notice] A new release of pip is available: 24.0 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score


pipe_dt = Pipeline([
    ("model", DecisionTreeClassifier(random_state=42))
])

param_dt = {
    "model__max_depth": [ 5, 10, 30,35,40,45],
    "model__min_samples_split": [2, 5, 10],
    "model__min_samples_leaf": [1, 2, 5],
    "model__criterion": ["gini", "entropy"]
}

grid_dt = GridSearchCV(
    pipe_dt,
    param_dt,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_dt.fit(X_train_trans, y_train)
print(f"Best metrics : {grid_dt.best_params_}")
print(f"cv accuracy : {grid_dt.best_score_}")
print(f"Train : {f1_score(y_train, grid_dt.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_dt.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__criterion': 'gini', 'model__max_depth': 35, 'model__min_samples_leaf': 1, 'model__min_samples_split': 10}
cv accuracy : 0.8493483386516669
Train : 0.959114139693356
Test : 0.9144811858608894

In [41]:
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

pipe_svc = Pipeline([("tfidf",TfidfVectorizer(ngram_range=(1,2),
    max_df=0.9,
    min_df=5,
    max_features=5000,
    stop_words="english",
    sublinear_tf=True)),
    ("model", LinearSVC())

])

param_svc = {
    "model__C": [0.01, 0.1, 1, 10]
}

grid_svc = GridSearchCV(
    pipe_svc,
    param_svc,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_svc.fit(X_train, y_train)
print(f"Best metrics : {grid_svc.best_params_}")
print(f"cv accuracy : {grid_svc.best_score_}")
print(f"Train : {f1_score(y_train, grid_svc.predict(X_train), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_svc.predict(X_test), pos_label='Positive')}")

Best metrics : {'model__C': 1}
cv accuracy : 0.8627572295587825
Train : 0.9496890898812889
Test : 0.9330306469920545

In [42]:
import pickle

with open("Flipkart_SVC.pkl","wb") as f:
  pickle.dump(grid_svc, f)